* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0px;
}
.background-image {
    position: absolute;
    width: 100%;
    z-index: -1;
    animation: bildeinblenden 2s 1;
}
#heading {
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    letter-spacing: 6px;
    word-spacing: -5px;
    font-weight: 550;
    font-variant: small-caps;
    text-transform: capitalize;
}
.heading-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.heading-link:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
    animation: changeColor; /* Animation wird innerhalb des entsprechenden keyframes unten definiert */
    animation-duration: 2s; /* Animationsdauer auf 2 Sekunden */
    animation-iteration-count: infinite;
}
#navigation {
    background-color: rgb(212, 211, 211);
    border: 1px solid gray;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.nav-items-link {
    display: inline-block;
    padding: 14px;
    font-size: large;
    text-decoration: none;
    color: black;
}
.nav-items {
    float: left;
    margin: 0px;
    text-align: center;
}
.nav-items-link:hover {
    background-color: gray;
}
#opened {
    background-color: crimson;
}
#content {
    margin: 5%;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
}
#footer:hover {
    cursor: pointer;
    background-color: lightgray;
}
#impr{
    text-align: center;
}

@keyframes bildeinblenden{
    0% {opacity: 0.6;}
    100% {opacity: 1;}
}
@keyframes changeColor {
    /* Animierter Farbverlauf von schwarz zu bronze zu schwarz */
    0% {color: black;} /* Zu Beginn der Animation Hintergrundfarbe des Elements schwarz */
    25% {color: red;}
    75% {color: red;}
    100% {color: black;} /* Zum Schluss der Animation Hintergrundfarbe des Elements schwarz */
}
@media screen and (max-width: 600px) {
    #navigation {
        display: block;
    }
    .nav-items {
        float: none;
    }
    .nav-items-link:hover {
        width: 100%;
        padding-left: 0px;
    }
    #opened {
        width: 100%;
        padding-left: 0px;
    }
}