body{
    background-color: white;
}

#welcome-message {
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 15px;
}
#welcome-image {
    position: absolute;
    width: 100%;
    z-index: -1;
    animation: bildeinblenden 3s 1;
}

@keyframes bildeinblenden{
    0% {opacity: 0.5;}
    100% {opacity: 1;}
}