#welcome-message {
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 15px;
}
#welcome-image {
    position: absolute;
    width: 100%;
    z-index: -1;
    transition-delay: 0,5s;
}