th, td {
    padding: 10px;
    font-size: smaller;
}
tr:nth-child(even) {
    background-color: rgb(212, 211, 211);
}
tr:nth-child(odd) {
    background-color: white;
}
table {
    width: 100%;
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
}
td {
    line-height: 300%;
}
td:nth-child(2) {
    border-left: 1px solid #000;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th {
    border: 1px solid black;
    border-collapse: collapse;
}
tr:hover:not(:first-child) {
    cursor: pointer;
    background-color: rgb(202, 156, 156);
}
#searchInput {
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
}